.sidebar-item {
  border-radius: 5px;
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
}

.sidebar-item:hover {
  background-color: #f1f1f1;
}

.sidebar-item.active {
  /* background-color: #ff9800; */
  color: #ff9800 !important;
  font-weight: bold;
  border-right: 5px solid #ff9800;
}
